POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your_postgres_password>
POSTGRES_DB=review_insights

MINIO_ROOT_USER=<your_minio_user>
MINIO_ROOT_PASSWORD=<your_minio_password>
MINIO_BUCKET=review-insights-uploads

RABBITMQ_DEFAULT_USER=<your_rabbitmq_user>
RABBITMQ_DEFAULT_PASS=<your_rabbitmq_password>
